{% extends 'base.html' %}


{% block title %}Bilan des comptes{% endblock %}


{% block content %}

<br>

<hr>

<br>


  <h1>Bilan des comptes</h1>

<br>

<hr>

<br>


  <p>Voici le bilan des comptes des loyers émis par le locataire lorsqu'il quitte le logement :</p>

  <ul>

<div class="container text-center">

  <div class="row g-2">

    <div class="col-6">

      <div class="p-3">Loyer mensuel: 800 €</div>

    </div>

    <div class="col-6">

      <div class="p-3">Durée de location : 12 mois</div>

    </div>

    <div class="col-6">

      <div class="p-3">Montant total des loyers dus : 9 600 €</div>

    </div>

    <div class="col-6">

      <div class="p-3">Montant des loyers payés : 8 800 €</div>

    </div>

    <div class="col-6">

      <div class="p-3">Montant du dépôt de garantie : 800 €</div>

    </div>

    <div class="col-6">

      <div class="p-3">Montant restant dû : 0 €</div>

    </div>

    <div class="col-6">

      <div class="p-3">Montant du remboursement du dépôt de garantie : 0 €</div>

    </div>

  </div>

</div>

  </ul>

<br>

<hr>

<br>


{% endblock %}


 <!--

    <li>Loyer mensuel : 800 €</li>

    <li>Durée de location : 12 mois</li>

    <li>Montant total des loyers dus : 9 600 €</li>

    <li>Montant des loyers payés : 8 800 €</li>

    <li>Montant du dépôt de garantie : 800 €</li>

    <li>Montant restant dû : 0 €</li>

    <li>Montant du remboursement du dépôt de garantie : 0 €</li>

    -->