{% extends "base.html" %}

{% block content %}
  <h3>Liste des locataires</h3>
  <a class="btn btn-success" href="{{url_for ('add_locataires') }}" >Ajouter un locataire</a>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Dépôt de garantie</th>
        <th>Appartement</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for locataires in locataires %}
        <tr>
          <td>{{ locataires.nom }}</td>
          <td>{{ locataires.prenom }}</td>
          <td>{{ locataires.date_naissance  }}</td>
          <td>{{ locataires.adresse}}</td>
          <td>{{ locataires.ville }}</td>
          <td>{{ locataires.telephone}}</td>
          <td>{{ locataires.email }}</td>
          <td>{{ locataires.depot_garantie }}</td>
          <td>
            {% if locataires.appartement %}
              {{ locataires.appartement.adresse }}
            {% else %}
              Non affecté
            {% endif %}
          </td>
          <td>
            <a class="btn btn-primary" href="/update-locataire/{{ locataires.id }}">Modifier</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}

